<modal-admin-cheetset></modal-admin-cheetset>
<modal-card></modal-card>
<modal-player></modal-player>
<modal-wood></modal-wood>
<toaster></toaster>

<section class="board">
	<div class="top_bar">
		<div class="inner_container">
			<div class="title">
				<img src="../../../assets/images/logo-galerapagos.png" alt="logo-galerapagos">
				<span>Illegal</span>
			</div>
			<div class="user_actions">
				<a class="link"><span class="icon"></span>Leave game</a>
				<p>Hello, <span class="icon" *ngIf="current_player.rank == 'administrator'"></span>{{current_player.name}}</p>
			</div>
		</div>
	</div>
	<div class="main_content">
		<div class="body">
			<div class="inner_group">
				<div class="left_content">
					<div class="survival_container">
						<ul>
							<li *ngFor='let turn of turns' [ngClass]="{'food': game_states.food_level == turn, 'water': game_states.water_level == turn}">{{turn}}</li>
						</ul>
					</div>
				</div>
				<div class="middle_content">
					<div class="activities_container">
						<div class="activities">
							<ul>
								<li *ngFor="let activity of activities | sortByDate" [ngClass]="{'new': activity.status == 'new', 'own': activity.author_id == current_player.player_id}">
									<p class="text" [innerHtml]="activity.content" ></p>
									<p class="time" [innerHtml]="activity.timestamp | amTimeAgo"></p>
								</li>
							</ul>
						</div>
						<div class="chatbox">
							<input type="text" placeholder="You may speak here" (keyup.enter)="send_chat()" [(ngModel)]="chat_input">
							<span class="admin_cheetset" title="Admin Cheetset" *ngIf="current_player.rank == 'administrator'" (click)="modalName_service.open_modal({ modal_id: 'admin_cheetset', status: 'open'})"></span>
							<a class="button" (click)="send_chat()"><span></span>send</a>
						</div>
					</div>
				</div>
				<div class="right_content">
					<div class="rain_container">
						<img [src]="'./../../assets/images/galerapagos/' + current_water_card.illustration">
						<p>{{current_water_card.name}}</p>
					</div>
					<div class="radeau_container">
						<div class="content">
							<p>Place dans le radeau ({{game_states.raft_level}}/{{player_online.total.length}} ):
								<span class="icon" *ngFor='let spot of raft_spot; let i = index' [ngClass]="{'bold': game_states.raft_level > i }"></span>
							</p>
							<p>Prochaine place ({{game_states.wood_level}}/5):
								<span class="icon" *ngFor='let wood of wood_stock; let i = index' [ngClass]="{'bold': game_states.wood_level > i }"></span>
							</p>
						</div>
						<img src="../../../assets/images/radeau.png">
					</div>
				</div>
			</div>
		</div>
		<div class="right_bar">
			<div class="players_content">
				<div class="players_header">
					<h4>Joueur <span>({{player_online.online.length}}/{{player_online.total.length}} online)</span></h4>
				</div>
				<div class="players_body">
					<ul>
						<li *ngFor="let player_details of players_details | sortBy:'player_details.game_detail.position'">
							<span class="indicator" [ngClass]="player_details.status"></span>
							<div class="content">
								<p>
									<span *ngIf="player_details.game_detail.status == 'dead'"class="icon dead"> </span>
									<span *ngIf="player_details.game_detail.status == 'sick'" class="icon sick"> </span>
									<a class="user" (click)="modalName_service.open_modal({ modal_id: 'modal-player', status: 'open', 'active_player': active_player, player_details: player_details, 'current_player_id': current_player.player_id})" >{{player_details.name}}</a>
									<span class="small">{{player_details.last_online_time | amTimeAgo }}</span>
								</p>
								<ul  class="cards">
									<li class="card" *ngIf="player_details._id == active_player" ><img src="./../../assets/images/galerapagos/premier_joueur.jpg"></li>
									<li *ngFor="let cards of player_details.game_detail.cards" class="card">
										<img *ngIf="cards.visibility != 'hidden' || current_player.player_id == player_details._id" [src]="'./../../assets/images/galerapagos/' + cards.illustration">
										<img *ngIf="cards.visibility == 'hidden' && current_player.player_id != player_details._id" [src]="'./../../assets/images/galerapagos/back.jpg'">
									</li>
								</ul>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="action_content">
				<div class="inner_group">
					<a class="button" (click)="get_water()" [ngClass]="{'inactive': current_player.player_id != active_player }"><span class="icon"></span>Chercher de l'eau</a>
					<a class="button" (click)="get_food()" [ngClass]="{'inactive': current_player.player_id != active_player }" ><span class="icon"></span>Chercher de la nourriture</a>
					<a class="button" (click)="get_wood()" [ngClass]="{'inactive': current_player.player_id != active_player }" ><span class="icon"></span>Chercher du bois</a>
					<a class="button" (click)="get_card()" [ngClass]="{'inactive': current_player.player_id != active_player }" ><span class="icon"></span>Fouiller l'épave</a>
				</div>
			</div>
		</div>
	</div>
</section>
