// =============================================================================
// IMPORT
// =============================================================================
@import "../../../assets/styles/ui_mixines";

section.board{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	div.top_bar{
		width: 100%;
		height: 50px;
		position: relative;
		box-shadow: 0px 0px 4px rgba(0, 0, 5, 0.3);
		z-index: 2;

		div.inner_container{
			@include container_sizing( 1200px );
			overflow: auto;

			div.title{
				margin-top: 6px;
				position: relative;
				width: 120px;
				float: left;

				img{
					width: 100%;
				}
				span{
					position: absolute;
					top: -2px;
					right: 0px;
					color: #191919;
					font-size: 10px;
					text-align: right;
					font-weight: 800;
					transform: rotate(10deg);
				}
			}
			div.user_actions{
				float: right;
				overflow: auto;
				padding: 15px 0;

				p{
					float: right;
					margin-right: 32px;
					line-height: 20px;
					text-transform: lowercase;

					&:first-letter{
						text-transform: capitalize
					}
					span.icon{
						font-family: 'font_awesome';
						font-size: 10px;
						color: gold;
						font-weight: 900;
						margin: -10px 4px 0 4px; 
						position: relative;
						cursor: pointer;

						&:hover:after{
							content: 'Administrator';
							font-family: 'baloo_thambi';
							font-weight: 400;
							font-size: 10px;
							background-color: #191919;
							padding: 2px 8px;
							color: white;
							border-radius: 2px;
							position: absolute;
							top: -6px;
							left: 15px;
						}
					}
				}
				a.link{
					float: right;
					line-height: 20px;
					cursor: pointer;
					transition: all 200ms;

					&:hover{
						color: lighten(#191919, 30%);
					}
					span{
						font-family: 'font_awesome';
						margin-right: 6px;
						line-height: 20px;
					}
				}
			}
		}
	}
	div.main_content{
		width: 100%;
		height: calc(100% - 50px);
		position: relative;
		overflow: auto;
		z-index: 1;

		div.body{
			width: calc(100% - 300px);
			height: 100%;
			float: left;
			background-image: url('../../../assets/images/bg_plateau.jpg');
			background-size: cover;
			background-position: center center;

			&.last_turn{
				background-image: url('../../../assets/images/facing-vide-sans-eau.jpg');
			}
			div.inner_group{
				overflow: auto;
				height: calc(96% - 50px);
				@include container_sizing( 1000px );
				margin-top: 3%;

				div.left_content{
					width: 25%;
					float: left;
					height: 100%;
					overflow: auto;

					div.survival_container{
						width: 100%;
						height: 100%;
						float: left;
						
						ul{
							width: 16px;

							li{
								background-color: rgba(#F2F2F2, 0.7);
								border-radius: 50%;
								display: block;
								height: 16px;
								width: 16px;
								text-align: center;
								line-height: 16px;
								font-size: 10px;
								margin-bottom: 2px;
								position: relative;

								&.water{
									&:after{
										z-index: 1;
										position: absolute;
										top: -12px;
										right: -50px;
										content:"";
										font-family: 'font_awesome';
										font-weight: 800;
										font-size: 16px;
										text-align: center;
										border-radius: 50%;
										color: white;
										height: 40px;
										width: 40px;
										line-height: 40px;
										background-color: #4CB1F7;
									}
									&:before{
										z-index: 1;
										content: '';
          								border-top: 10px solid transparent;
										border-left: 0;
										border-right: 20px solid #4CB1F7;
										border-bottom: 10px solid transparent;
										display: block;
										position: absolute;
										top: -2px;
										right: -20px;
									}

									&:hover:after, &:hover:before{
										z-index: 100;
									}
								}
								&.food{
									&:after{
										z-index: 1;
										position: absolute;
										top: -12px;
										right: -50px;
										content:"";
										font-family: 'font_awesome';
										font-weight: 800;
										font-size:16px;
										text-align: center;
										border-radius: 50%;
										color: white;
										height: 40px;
										width: 40px;
										line-height: 40px;
										background-color: #C14738;
									}
									&:before{
										z-index: 1;
										content: '';
          								border-top: 10px solid transparent;
										border-left: 0;
										border-right: 20px solid #C14738;
										border-bottom: 10px solid transparent;
										display: block;
										position: absolute;
										top: -2px;
										right: -20px;
									}
									&:hover:after, &:hover:before{
										z-index: 100;
									}
								}
								&.water.food{
									&:after{
										content:" ";
										background-color: #9768D1;
										width: 60px;
										right: -70px;
										border-radius: 30px;
									}
									&:before{
										border-right-color: #9768D1;
									}
								}
							}
						}
					}
				}
				div.middle_content{
					width: 50%;
					float: left;
					height: 100%;

					div.activities_container{
						background-color: rgba(#F2F2F2, 0.7);
						border-radius: 12px;
						height: 100%;
						overflow: auto;

						div.activities{
							background-color: white;
							overflow: auto;
							margin: 12px 12px 2px 12px;
							width: calc(100% - 24px);
							height: calc(100% - 62px);
							border-top-right-radius: 9px;
							border-top-left-radius: 9px;
							display: flex;
  							flex-direction: column-reverse;

							ul{
								padding: 24px;
								width: calc(100% - 48px);

								li{
									margin-bottom: 10px;
									position: relative;

									&.new{
										p.text{
											color: #F2A413;

											&:before{
												content: '';
												width: 5px;
												height: 5px;
												display: inline-block;
												background-color: #F2A413;
												border-radius: 50%;
												position: relative;
												margin-right: 4px;
												margin-bottom: 1px;
											}
										}
									}
									&.own{
										p.text{
											text-align: right;
										}
										p.time{
											text-align: right;
											padding-right: 6px;
										}
									}
									p.text{
										font-size: 14px;
										font-weight: 400;

										&::ng-deep span{
											font-size: 14px;
											font-weight: 800;
											margin-right: 3px;
										}
									}
									p.time{
										padding-left: 6px;
										font-size: 12px;
										color: #cccccc;
										font-weight: 400;
									}
								}
							}
						}
						div.chatbox{
							width: calc(100% - 24px);
							margin: 0px 12px;
							padding: 4px 0;
							overflow: auto;
							position: relative;

							input{
								width: calc(100% - 96px);
								font-size: 14px;
								border: none;
								padding: 9px 0px 8px 16px;
								border-bottom-left-radius: 9px;
							}
							span.admin_cheetset{
								font-family: 'font_awesome';
								font-weight: 800;
								position: absolute;
								top: 12px;
								right: 90px;
								cursor: pointer;
								transition: all 200ms;
								color: rgb(95, 170, 239);

								&:hover{
									color: lighten(rgb(95, 170, 239), 25%);
								}
							}
							a.button{
								background-color: rgb(95, 170, 239);;
								border-bottom-right-radius: 9px;
								color: white;
								padding: 8px 12px;
								float: right;
								font-size: 16px;
								cursor: pointer;
								transition: all 200ms;
		
								&:hover{
									background-color: lighten(rgb(95, 170, 239), 10%);
								}
								span{
									font-family: 'font_awesome';
									margin-right: 6px;
								}
							}
						}
					}
				}
				div.right_content{
					width: 25%;
					float: left;
					height: 100%;
					overflow: auto;

					div.rain_container{
						width: 60%;
						float: right;
						background-color: rgba(#F2F2F2, 0.7);
						border-radius: 12px;
						padding: 12px 12px 8px 12px;

						img{
							width: 100%;
							border-radius: 8px;
						}
						p{
							margin-top: 6px;
							color: #191919;
							text-align: center;
						}
					}
					div.radeau_container{
						width: 90%;
						margin-top: 60%;
						float: right;
						height: 200px;

						div.content{
							position: relative;
							z-index: 2;

							p{
								text-align: center;
								margin-top: 10px;

								span.icon{
									font-family: 'font_awesome';
									margin-left: 5px;
									color: #333333;
									font-weight: 400;
									
									&.bold{
										font-weight: 800;
									}
								}
							}
						}
						img{
							position: relative;
							z-index: 1;
							margin-top: -40%;
							width: 100%;
						}
					}
				}
			}
		}
		div.right_bar{
			width: 299px;
			height: 100%;
			float: left;
			box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
			border-left: 1px solid #cccccc;

			div.players_content{
				width: calc(100% - 48px);
				height: calc(100% - 298px);
				padding: 24px;
				overflow: auto;

				div.players_header{
					h4{
						font-size: 14px;
						font-weight: 800;

						span{
							font-size: 12px;
							font-weight: 400;
						}
					}
				}
				div.players_body{
					margin: 20px 0 0 10px;
					
					ul{	
						li{
							overflow: auto;
							padding-bottom: 10px;
	
							span.indicator{
								float: left;
								display: block;
								width: 8px;
								height: 8px;
								margin: 2px 8px 0 0;
								border-radius: 50%;
								background-color: #F2F2F2;
								border: 1px solid #cccccc;
	
								&.online{
									background-color: #9EDB23;
									border-color: lighten(#9EDB23, 20%);
								}
								&.inactive{
									background-color: #F2A413;
									border-color: lighten(#F2A413, 20%);
								}
								&.offline{
									background-color: #F2F2F2;
									border-color: #cccccc;
								}
							}
							div.content{
								width: calc(100% - 24px);
								float: left;
	
								p{
									a.user{
										font-size: 14px;
										transition: all 200ms;
										cursor: pointer;
										margin-right: 3px;
										text-transform: capitalize;
										
										&:hover{
											text-decoration: underline;
										}
									}
									span.small{
										font-size: 11px;
										color: #cccccc;
									}
									span.icon{
										font-family: 'font_awesome';
										font-weight: 800;
										cursor: default;
										position: relative;

										&.dead:hover:after{
											content: 'dead';
											font-family: 'baloo_thambi';
											font-weight: 400;
											font-size: 10px;
											background-color: #191919;
											padding: 2px 8px;
											color: white;
											border-radius: 2px;
											position: absolute;
											top: 1px;
											left: 18px;
										}
										&.sick:hover:after{
											content: 'sick';
											font-family: 'baloo_thambi';
											font-weight: 400;
											font-size: 10px;
											background-color: #191919;
											padding: 2px 8px;
											color: white;
											border-radius: 2px;
											position: absolute;
											top: 1px;
											left: 18px;
										}
									}
								}
								ul.cards{
									margin-top: 5px;
									overflow: auto;
	
									li.card{
										float: left;
										margin: 0 5px 5px 0;
										padding-bottom: 0;
	
										img{
											width: 20px;
										}
									}
								}
							}
						}
					}
				}
			}
			div.action_content{
				width: calc(100% - 48px);
				height: 201px;
				padding: 24px;
				border-top: 1px solid #cccccc;

				div.inner_group{
					height: 100px;

					a.button{
						padding: 4px 12px;
						background-color: rgb(95, 170, 239);
						color: white;
						border-radius: 6px;
						margin-top: 10px;
						line-height: 26px;
						cursor: pointer;
						transition: all 200ms;
						display: block;
						text-align: center;
						user-select: none;

						&:hover{
							background-color: lighten(rgb(95, 170, 239), 10%);
						}
						&.inactive{
							background-color: rgb(220, 220, 220);
							cursor: not-allowed;
	
							&:hover{
								background-color: rgb(220, 220, 220);
							}
						}
						span.icon{
							font-family: 'font_awesome';
							font-weight: 800;
							padding-right: 10px;
						}
	
					}
				}
			}
		}
	}
}