// =============================================================================
// IMPORT
// =============================================================================
@import "../../../assets/styles/ui_mixines";

section.modal_player{
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0,0.8);

	div.modal{
		@include container_sizing( 700px );
		background-color: #fff;
		box-shadow: 0px 0px 6px rgba(0,0,0,.5);
		min-height: 200px;
		margin-top: 10% ;
		border-radius: 5px;

		div.header{
			border-radius: 5px 5px 0 0;
			width: 100%;
			height: auto;
			border-bottom: 1px solid #F2F2F2;

			h4{
				font-size: 16px;
				line-height: 50px;
				padding: 0 0 0 24px;
				margin: 0;
				color: #191919;
				font-style: 14px;
			}
		}
		div.body{
			width: calc(100% - 48px);
			height: auto;
			padding: 0 24px;
			max-height: 400px;
			overflow: auto;
			

			ul{
				overflow: auto;
				padding: 42px 0;
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				justify-content: flex-start;
				align-items: flex-start;
				align-content: space-between;


				li{
					margin: 10px 0 0 10px;
					position: relative;

					img{
						height: 230px;
						border-radius: 6px;
					}
					div.label{
						background-color: rgba(#000000, .5);
						overflow: auto;
						position: absolute;
						bottom: 0;
						left: 0;
						right: 0;
						padding: 4px 8px;

						span.status{
							float: left;
							color: white;
						}
						span.action{
							float: right;
							color: white;
							font-family: 'font_awesome';
							font-weight: 800;
							cursor: pointer;
							transition: all 200ms;
							color: lighten(rgb(95, 170, 239), 25%);


							&:hover{
								color: #ffffff;
							}
						}
					}
				}
			}
		}
		div.footer{
			border-radius: 0 0 5px 5px;
			width: 100%;
			height: auto;
			border-top: 1px solid #F2F2F2;
			overflow: auto;

			a.button{
				float: right;
				padding: 8px 12px;
				background-color: rgb(95, 170, 239);
				border-radius: 3px;
				line-height: 25px;
				margin: 16px 8px 16px 0;
				color: white;
				cursor: pointer;
				transition: all 200ms;

				&:hover{
					background-color: lighten(rgb(95, 170, 239), 10%);
				}
				&:first-child{
					margin-right: 24px;
				}
				&.cancel{
					background-color: #F2F2F2;
					color: #191919;

					&:hover{
						background-color: lighten(#F2F2F2, 10%);
					}
				}
			}
		}
	}
}