<section class="modal_player" *ngIf="is_modal_active">
	<div class="modal">
		<div class="header">
			<h4>Profile of {{player_details.name}}</h4>
		</div>
		<div class="body">
			<ul>
				<li *ngIf="player_details._id == active_player" ><img src="./../../assets/images/galerapagos/premier_joueur.jpg"></li>
				<li *ngFor="let cards of player_details.game_detail.cards">
					<img *ngIf="cards.visibility != 'hidden' || current_player.player_id == player_details._id" [src]="'./../../assets/images/galerapagos/' + cards.illustration">
					<img *ngIf="cards.visibility == 'hidden' && current_player.player_id != player_details._id" [src]="'./../../assets/images/galerapagos/back.jpg'">
					<div class="label" *ngIf="current_player.player_id == player_details._id || current_player.rank == 'administrator'">
						<span class="status">{{cards.visibility}}</span>
						<span *ngIf="current_player.player_id == player_details._id && cards.visibility == 'hidden'" class="action" (click)="update_card_visibility( current_player.player_id, cards)" ></span>
						<span *ngIf="current_player.player_id == player_details._id && cards.visibility != 'hidden'" class="action" (click)="update_card_visibility( current_player.player_id, cards)" ></span>
						<span *ngIf="cards.visibility != 'hidden' && current_player.rank == 'administrator'" class="action" ></span>
					</div>
				</li>
			</ul>
		</div>
		<div class="footer">
			<a class="button " (click)="is_modal_active = false">Shoot</a>
			<a class="button cancel" (click)="is_modal_active = false">Close</a>
		</div>
	</div>
</section>