<toaster></toaster>
<modal-banned></modal-banned>
<modal-alert></modal-alert>
<modal-name></modal-name>

<section class="lobby">
	<div class="top_bar">
		<div class="inner_container">
			<div class="title">
				<img src="../../../assets/images/logo-galerapagos.png" alt="logo-galerapagos">
				<span>Illegal</span>
			</div>
			<div class="user_actions">
				<a class="link" (click)="remove_player()"><span class="icon"> </span>Leave game</a>
				<p>Hello, <span class="icon" *ngIf="current_player.rank == 'administrator'"></span>{{current_player.name}}</p>
			</div>
		</div>
	</div>
	<div class="main_content">
		<div class="body">
			<div class="inner_container">
				<div class="activities">
					<ul>
						<li *ngFor="let activity of activities | sortByDate" [ngClass]="{'new': activity.status == 'new'}">
							<p class="text" [innerHtml]="activity.content" ></p>
							<p class="time" [innerHtml]="activity.timestamp | amTimeAgo"></p>
						</li>
					</ul>
				</div>
				<div class="chatbox">
					<input type="text" placeholder="You may speak here" (keyup.enter)="send_chat()" [(ngModel)]="chat_input">
					<a class="button" (click)="send_chat()"><span></span>send</a>
				</div>
			</div>
		</div>
		<div class="right_bar">
			<div class="players_content">
				<div class="players_header">
					<h4>Joueur <span>({{player_online.online.length}}/{{player_online.total.length}} online)</span></h4>
				</div>
				<div class="players_body">
					<ul>
						<li *ngFor="let player_details of players_details | sortBy:'name'">
							<span class="indicator" [ngClass]="player_details.status"></span>
							<div class="content">
								<p>{{player_details.name}}</p>
								<p class="small">Active {{player_details.last_online_time | amTimeAgo }}</p>
							</div>
							<div class="action" *ngIf="current_player.rank == 'administrator' && player_details.rank != 'administrator'">
								<a class="link" (click)="kick_out_player( player_details._id, player_details.name)" ></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="action_content" *ngIf="current_player.rank == 'administrator'">
				<div class="inner_group">
					<div class="input_group">
						<input type="text" value="{{share_link}}">
						<a class="input_button" (click)="copy_to_clipboard()">Copy</a>
					</div>
					<a class="button" (click)="launch_game()" [ngClass]="{'inactive': player_online.total.length < 3}">Lancer la partie</a>
				</div>
			</div>
		</div>
	</div>
</section>