// =============================================================================
// IMPORT
// =============================================================================
@import "./assets/styles/ui_mixines";


// =============================================================================
// FONTS
// =============================================================================
@font-face {
    font-family: "font_awesome";
    font-weight: 300;
    text-decoration: normal;
    src: url("assets/fonts/font_awesome/fa-light-300.eot") format("eot"),
         url("assets/fonts/font_awesome/fa-light-300.woff") format("woff"),
         url("assets/fonts/font_awesome/fa-light-300.ttf") format("ttf"),
         url("assets/fonts/font_awesome/fa-light-300.svg") format("svg");
}
@font-face {
    font-family: "font_awesome";
    font-weight: 900;
    text-decoration: normal;
    src: url("assets/fonts/font_awesome/fa-solid-900.eot") format("eot"),
         url("assets/fonts/font_awesome/fa-solid-900.woff") format("woff"),
         url("assets/fonts/font_awesome/fa-solid-900.ttf") format("ttf"),
         url("assets/fonts/font_awesome/fa-solid-900.svg") format("svg");
}
@font-face {
    font-family: "baloo_thambi";
    font-weight: 400;
    text-decoration: normal;
    src: url("/assets/fonts/baloo_thambi/regular/baloothambi_regular.woff2") format("woff2"),
         url("/assets/fonts/baloo_thambi/regular/baloothambi_regular.woff") format("woff"),
         url("/assets/fonts/baloo_thambi/regular/baloothambi_regular.eot") format("eot"),
         url("/assets/fonts/baloo_thambi/regular/baloothambi_regular.ttf") format("ttf"),
         url("/assets/fonts/baloo_thambi/regular/baloothambi_regular.svg") format("svg");
}
@font-face {
    font-family: "baloo_thambi";
    font-weight: 800;
    text-decoration: normal;
    src: url("assets/fonts/baloo_thambi/bold/baloothambi_bold.woff2") format("woff2"),
         url("assets/fonts/baloo_thambi/bold/baloothambi_bold.woff") format("woff"),
         url("assets/fonts/baloo_thambi/bold/baloothambi_bold.eot") format("eot"),
         url("assets/fonts/baloo_thambi/bold/baloothambi_bold.ttf") format("ttf"),
         url("assets/fonts/baloo_thambi/bold/baloothambi_bold.svg") format("svg");
    
}

// =============================================================================
// RESET CSS
// =============================================================================
body, html{
    font-size: 1rem;
    background-color: #F9FAFC;
    line-height: 1;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, a, code, img, strong, ol, ul, li, form, label, article, aside, canvas, details, footer, header, nav, section{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
	font-family: 'baloo_thambi';
}
section, article, nav, header, footer, details, aside{ display: block; }
ol, ul { list-style: none; }
a{ text-decoration: none; }
input, textarea, li, svg{
    &:focus{
        outline: none;
    }
    border-radius: 0;
}
textarea, input.text, input[type="text"], input[type="button"], input[type="submit"], .input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
}
